@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --black: #242424;
    --dark-blue: #7A87FB;
    --light-blue: #DCE7FD;
    --yellow: #F0BB52;
    --peach: #F2A8A4;
    --pink: #FEE0DF;
    --skin: #FEE5B2;
    --white: #FFFFFF;
}

body{
    background-color: var(--light-blue);
}